# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
dist/

# Virtual environment
venv/
env/
.venv/
/bin
/include
/lib
/lib64
/share

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/
errors
backup

# Logs and databases
*.log
*.sqlite3
*.db


# Jupyter Notebook files
.ipynb_checkpoints/

# Miscellaneous
*.bak
*.swp
